/* .detailFilm {
  padding-bottom: 0;
}
.detailFilm .mainTop {
  height: 600px;
  position: relative;
}
.detailFilm .styleBlur {
  background-image: url("./img/film.png");
  background-size: contain;
  height: 100%;
  filter: blur(15px);
  margin: -11px 0 -5px -10px;
  width: calc(100% + 5px);
}
.detailFilm .styleGradient {
  background: linear-gradient(to top, rgb(10, 32, 41), transparent 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.detailFilm .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 870px;
  color: #e9e9e9;
  font-weight: 600;
  font-size: 14px;
}
.detailFilm .content-film {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
.detailFilm .content-film .content-name {
  margin: 5px 0;
}
.detailFilm .content-film .content-name .content-name__age {
  margin-right: 6px;
  background-color: #fb4226;
  font-size: 16px;
  border-radius: 4px;
  padding: 1px 9px;
  min-width: 33px;
}
.detailFilm .content-film .content-name .content-name__name {
  font-size: 24px;
}

.detailFilm .mainBottom {
  transform: translate(0, -70px);
  color: #e9e9e9;
}
.detailFilm .mainBottom .nav-tabs,
.detailFilm .mainBottom .tab-content {
  justify-content: center;
  max-width: 870px;
  margin: auto;
}
.detailFilm .mainBottom .tab-content__background,
.detailFilm .nav-tabs {
  background-color: rgb(10, 32, 41);
}
.detailFilm .fix-background {
  height: 70px;
  background-color: rgb(10, 32, 41);
  position: absolute;
  bottom: -70px;
  left: 0;
}
.detailFilm .mainBottom .tab-pane {
  margin: 0;
}
.detailFilm .thongTin-title {
  width: 35%;
  font-weight: 700;
}
.detailFilm .thongTin-info {
  width: 40%;
}
.detailFilm .mainBottom .tab-content #thongTin {
  font-size: 15px;
}
/* tab */
/* .detailFilm .nav-tabs {
  border-bottom: none;
  background: transparent;
}
.detailFilm .tab-content {
  padding-top: 40px;
}
.detailFilm #thongTin-tab,
.detailFilm #danhGia-tab {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.detailFilm #thongTin-tab.active,
.detailFilm #danhGia-tab.active {
  color: #fb4226;
} */
/*  */
/* .detailFilm .blockReviewer {
  border: 1px solid #e6e6e6;
  border-bottom: none;
  border-radius: 3px;
  margin: 15px auto 0;
  background-color: #fff;
  max-width: 580px;
}
.detailFilm .yourRating {
  padding: 0 15px;
}
.detailFilm .imgReviewer img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}
.detailFilm .inputReviewer {
  display: inline-block;
  padding: 10px;
  width: 68%;
  height: 60px;
  border-radius: 4px;
  border: none;
  background: #fff;
  color: #9b9b9b;
  font-size: 14px;
}
.detailFilm .reviewerComment {
  position: relative;
  padding: 20px 20px 12px;
  color: #000;
}
.detailFilm .mainInfo {
  display: flex;
  justify-content: space-between;
}
.detailFilm .mainInfo .infoReview {
  display: flex;
}
.detailFilm .mainInfo .infoReview .infoReviewIcon img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
} */
/* .detailFilm .mainInfo .infoRating {
  justify-content: right;
}
.detailFilm .mainInfo .infoReviewName {
  margin-left: 10px;
  height: 32px;
}
.detailFilm .mainInfo .infoReviewName .infoReviewName__name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}
.detailFilm .mainInfo .infoReviewName .infoReviewName__day {
  font-size: 10px;
  color: #9b9b9b;
  margin-bottom: 0;
}
.detailFilm .mainInfo .infoRating .infoRatingMark {
  color: #91d25a;
  text-align: center;
}
.detailFilm .mainInfo .infoRating .infoRatingStar img {
  max-width: 8px;
  margin-right: -4px;
}
.detailFilm .mainComment {
  font-size: 14px;
  padding: 15px 0;
  border-bottom: 1px solid #e6e6e6;
}
.detailFilm .likeComment{
  padding-top:10px;
}
.detailFilm .likeComment .likeComment__like img {
  width: 16px;
  margin-top: -4px;
  cursor: pointer;
}
.detailFilm .likeComment .likeComment__like img:hover{
  transform:scale(1.1);
  transition: all 0.2s;
}
.detailFilm .likeComment .likeComment__like span{
  color:#737576;
  font-weight: 500;
  margin-left:10px;
} */ 