.row {
  flex-wrap: nowrap;
}
.film .checked {
  color: #eb4129;
}
.film .fa-star {
  font-size: 6px;
}
.film {
  padding-top: 75px;
  max-width: 940px !important;
  margin: 0 auto;
}
.film .nav-tabs {
  border-bottom: none;
  justify-content: center;
}
.film .nav-link {
  border: none;
  color: #000;
  font-size: 18px;
  padding-top: 5px;
  font-weight: 500;
}
.film .nav-link.active {
  color: #fa5238;
  font-size: 24px;
  transition: all 0.2s;
  padding-top: 0;
}
.film .nav-link:hover {
  font-size: 24px;
  transition: all 0.2s;
  padding-top: 0;
}
.film-item {
  padding: 20px 10px 0;
  margin-bottom: 25px;
  cursor: pointer;
}
.film-image {
  position: relative;
  background-image: url("./images/film-trang-ti.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 318px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.film-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000, transparent 100%);
  top: 0;
  left: 0;
  border-radius: 4px;
  opacity: 0;
}
.film-item:hover .film-overlay {
  opacity: 1;
  transition: 0.2s;
}
.film-overlay button {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
}
.film-overlay button:hover {
  opacity: 0.7;
}
.film-overlay button img {
  width: 60px;
  height: 60px;
}
.film-rate {
  font-size: 16px;
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  padding: 2px;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;
  width: 54px;
  text-align: center;
  line-height: 1.1;
}
.film-rate p {
  margin-bottom: 0;
}
.film-rate span {
  font-size: 4px;
}

.film-name {
  height: 42px;
  max-height: 42px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  line-height: 22px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.film-name span {
  background-color: #00ac4d;
  font-size: 14px;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}
.film-time {
  font-size: 13px;
  color: #4a4a4a;
  margin-bottom: 15px;
  margin-top: 8px;
}
.film .nav-tabs .nav-item.show .nav-link,
.film .nav-tabs .nav-link.active {
  border-color: transparent !important;
}
.film .nav-tabs .nav-link:focus,
.film .nav-tabs .nav-link:hover {
  border-color: transparent !important;
}
