.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./img/bg2.jpg");
  font-size:16px;
  font-weight:600;
}
.login-title {
  text-align: center;
}
.loginContainer-right {
  margin: auto;
  width: 50%;
  height:100vh;
  padding: 35px 50px;
  background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
  color: #000 !important;
}
.formSign {
  padding: 5px 20px;
}
.formSign input {
  border: none;
  background: #fff;
  border-bottom: 1px solid white;
}
.formSign input:focus {
  box-shadow: none;
  border-color: violet;
} 
.button-singUp,
.button-signIn {
  text-align: center;
}
.login .button-signIn, .login .button-signUp{
  margin-top:30px;
}
