.detailCinema {
  padding-bottom: 0;
}
.detailCinema .mainTop {
  height: 600px;
  position: relative;
}
.detailCinema .styleBlur {
  background-image: url("./img/bhd-star-bitexco.png");
  background-size: contain;
  height: 100%;
  filter: blur(15px);
  margin: -11px 0 -5px -10px;
  width: calc(100% + 5px);
}
.detailCinema .styleGradient {
  /* background: linear-gradient(to top, rgb(10, 32, 41), transparent 100%); */
  background: linear-gradient(to top, #fff, transparent 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.detailCinema .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 870px;
  color: #333;
  font-weight: 600;
  font-size: 14px;
}
.detailCinema .contentCinema {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}
.detailCinema .contentCinema .contentCinema__name {
  font-size: 24px;
  font-weight: 600;
}
.detailCinema .contentCinema .contentCinema__button button {
  font-size: 16px;
  border-radius: 4px;
  padding: 7px 25px;
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: #fb4226;
  border: none;
  color: #fff;
}
.detailCinema .contentCinema .contentCinema__button button:hover {
  background-color: #b42a14;
  transition: all 0.2s;
}

.detailCinema .mainBottom {
  transform: translate(0, -70px);
  /* color: #e9e9e9; */
  color: #333;
}
.detailCinema .mainBottom .nav-tabs,
.detailCinema .mainBottom .tab-content {
  justify-content: center;
  max-width: 870px;
  margin: 0 auto;
}
.detailCinema .mainBottom .tab-content__background,
.detailCinema .nav-tabs {
  /* background-color: rgb(10, 32, 41); */
  background-color: #fff;
}
.detailCinema .fix-background {
  height: 70px;
  /* background-color: rgb(10, 32, 41); */
  background-color: #fff;
  position: absolute;
  bottom: -70px;
  left: 0;
}
.detailCinema .mainBottom .tab-pane {
  margin: 0;
}
.detailCinema .thongTin-title {
  width: 35% !important;
  font-weight: 700;
}
.detailCinema .thongTin-info {
  width: 40% !important;
}
.detailCinema .mainBottom .tab-content #thongTin {
  font-size: 15px;
}
/* tab */
.detailCinema .nav-tabs {
  border-bottom: none;
  background: transparent;
}
.detailCinema .tab-content__main {
  padding-top: 40px;
}
.detailCinema #thongTin-tab,
.detailCinema #danhGia-tab,
.detailCinema #lichChieu-tab {
  border: none;
  background-color: transparent;
  /* color: #fff; */
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
.detailCinema #thongTin-tab.active,
.detailCinema #danhGia-tab.active,
.detailCinema #lichChieu-tab.active {
  color: #fb4226;
}
.detailCinema #lichChieu {
  border: 1px solid #ebebec;
}
/*  */
.detailCinema .blockReviewer {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin: 15px auto 0;
  background-color: #fff;
  max-width: 580px;
}
.detailCinema .yourRating {
  padding: 0 15px;
}
.detailCinema .imgReviewer img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}
.detailCinema .inputReviewer {
  display: inline-block;
  padding: 10px;
  width: 68%;
  height: 60px;
  border-radius: 4px;
  border: none;
  background: #fff;
  color: #9b9b9b;
  font-size: 14px;
}
.detailCinema .reviewerComment {
  position: relative;
  padding: 20px 20px 12px;
  color: #000;
}
.detailCinema .mainInfo {
  display: flex;
  justify-content: space-between;
}
.detailCinema .mainInfo .infoReview {
  display: flex;
}
.detailCinema .mainInfo .infoReview .infoReviewIcon img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.detailCinema .mainInfo .infoRating {
  justify-content: right;
}
.detailCinema .mainInfo .infoReviewName {
  margin-left: 10px;
  height: 32px;
}
.detailCinema .mainInfo .infoReviewName .infoReviewName__name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}
.detailCinema .mainInfo .infoReviewName .infoReviewName__day {
  font-size: 10px;
  color: #9b9b9b;
  margin-bottom: 0;
}
.detailCinema .mainInfo .infoRating .infoRatingMark {
  color: #91d25a;
  text-align: center;
}
.detailCinema .mainInfo .infoRating .infoRatingStar img {
  max-width: 8px;
}
.detailCinema .mainComment {
  font-size: 14px;
  padding: 15px 0;
  border-bottom: 1px solid #e6e6e6;
}
.detailCinema .likeComment {
  padding-top: 10px;
}
.detailCinema .likeComment .likeComment__like img {
  width: 16px;
  margin-top: -4px;
  cursor: pointer;
}
.detailCinema .likeComment .likeComment__like img:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
.detailCinema .likeComment .likeComment__like span {
  color: #737576;
  font-weight: 500;
  margin-left: 10px;
}

.detailCinema .cinemaItem {
  padding: 20px 0;
  margin: 0 20px;
  opacity: 0.2;
}
.detailCinema .cinemaList .active .cinemaItem {
  opacity: 1;
}
.detailCinema .cinemaItem-img img {
  width: 50px;
  height: 50px;
}
.detailCinema .cinemaItem-content {
  padding-left: 10px;
  text-align: left;
}
.detailCinema .cinemaItem-content__name {
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #555;
  font-weight: 600;
}
.detailCinema .cinemaItem-content__address {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #b7b7b7;
}
.detailCinema .cinemaList {
  border-right: 1px solid #e6e6e6;
  margin-right: 0;
}
.detailCinema .cinemaList .nav-link {
  border: none;
  padding: 0;
}
.detailCinema .cinemaList .active .cinemaItem {
  border-bottom: 1px solid #e6e6e6;
}
.detailCinema .listDayTime {
  border-bottom: 1px solid #e6e6e6;
}
.detailCinema .listDayTime .nav-link {
  width: 82px;
  padding: 0;
  height: 91px;
  border: none;
  color: #000;
  opacity: 0.3;
  margin-bottom: 0;
}
.detailCinema .listDayTime .nav-link.active {
  color: #fb4226;
  opacity: 1;
}
.detailCinema .listDayTime .nav-link p {
  margin-bottom: 0;
}
.detailCinema .listDayTime .day {
  font-size: 14px;
  font-weight: 600;
}
.detailCinema .listDayTime .date {
  font-size: 20px;
}

.detailCinema .list-suatChieu .tab-pane {
  text-align: center;
}
/* fix */
.detailCinema .nav-tabs {
  border-bottom: none !important;
}
.detailCinema .cinemaItem-content__address {
  display: block;
}
.detailCinema .nav-tabs .nav-item.show .nav-link,
.detailCinema .nav-tabs .nav-link.active,
.detailCinema .nav-tabs .nav-link:focus,
.detailCinema .nav-tabs .nav-link:hover {
  border-color: transparent !important;
}
