.containerDashBoard {
  position: absolute;
  right: 10px;
  width: calc(100% - 215px);
  /* background-color: antiquewhite; */
  background-color: #f8f9fa;
  height: 100%;
}
.containerDas-item {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.contentDas {
  display: flex;
  justify-content: space-between;
  width: 30%;
  border-radius: 10px;
  background-color: #ffffff;
  height: 70px;
  padding: 10px 20px;
  align-items: center;
  box-shadow: 6px 10px 5px #aaaaaa !important;
}
.contentDas .svg-inline--fa {
  font-size: 40px;
}
.contentDas div h8 {
  color: #aaaaaa;
}
.containerChart {
  display: flex;
  justify-content: space-around;
}
.pie-chart {
  background: radial-gradient(circle closest-side, transparent 66%, white 0),
    conic-gradient(
      #4e79a7 0,
      #4e79a7 38%,
      #f28e2c 0,
      #f28e2c 61%,
      #e15759 0,
      #e15759 77%,
      #76b7b2 0,
      #76b7b2 87%,
      #59a14f 0,
      #59a14f 93%,
      #edc949 0,
      #edc949 100%
    );
  box-shadow: 1px 1px 5px 5px #888888 !important;
  position: relative;
  width: 600px;
  min-height: 350px;
  margin: 0;
  outline: 1px solid #ccc;
  border-radius: 10px;
}
.pie-chart h2 {
  position: absolute;
  margin: 1rem;
}
.pie-chart cite {
  position: absolute;
  bottom: 0;
  font-size: 80%;
  padding: 1rem;
  color: gray;
}
.pie-chart figcaption {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: smaller;
  text-align: right;
}
.pie-chart span:after {
  display: inline-block;
  content: "";
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.4em;
  height: 0.8em;
  border-radius: 0.2em;
  background: currentColor;
}
.chartLeft {
  margin-top: 80px;
  margin-left: 30px;
}
