.cinema .row {
  flex-wrap: nowrap;
}
.cinema .nav-tabs .nav-item.show .nav-link,
.cinema .nav-tabs .nav-link.active {
  border-color: transparent;
}
.cinema .nav-tabs .nav-link:focus,
.cinema .nav-tabs .nav-link:hover {
  border-color: transparent;
}
.cinema {
  padding-top: 120px;
  max-width: 940px;
  margin: 0 auto;
}
.cinema .nav-pills,
.cinema .cinema-content {
  border: 1px solid #ebebec;
}
.cinema .nav-pills .nav-link.active {
  background: transparent;
}
.cinema .nav-link img {
  width: 50px;
  padding: 15px 0;
  border-bottom: 1px solid #ebebec;
  opacity: 0.5;
}
.cinema .nav-link.active img,
.cinema .nav-link:hover img {
  opacity: 1;
}
.cinema .nav-link {
  text-align: center;
  padding: 0;
}
.cinema .cinema-item {
  margin: top 10px;
}
.cinema .cinema-item__image {
  margin-top: 5px;
}

.cinema .cinema-item__image,
.cinema .cinema-item__info {
  padding: 0;
}
.cinema .cinema-item__info {
  font-size: 14px;
}
.cinema .cinema-item__info .brand-name {
  color: #8bc541;
}
.cinema .cinema-item__info .address {
  font-size: 12px;
  color: #949494;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}
.cinema .cinema-item__info a {
  color: #fb4226;
  font-size: 12px;
}
.cinema .cinema-list {
  padding: 10px;
  border-bottom: 1px solid #ebebec;
}
