* {
  box-sizing: border-box;
  margin: 0;
}
.navContainer {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
  z-index: 9;
}
.nav-left img {
  max-width: 150px;
}
.nav-center ul {
  display: flex;
  list-style: none;
}
.nav-center ul li {
  margin-right: 30px;
}
.nav-center ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 500;
}
.nav-center ul li a:hover {
  color: red;
}
.nav-center ul {
  margin-bottom: 0;
}
.nav-right ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}
.nav-search {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px 10px;
}
.nav-search input {
  border: none;
  width: 200px;
}
.nav-search i {
  cursor: pointer;
  font-size: 100px;
  color: red;
}
.nav-search i:hover {
  color: aqua;
}
.nav-search input:focus {
  outline: none;
}
.nav-right ul li {
  margin-right: 20px;
}
.nav-right ul li a {
  cursor: pointer;
}
.nav-right a {
  text-decoration: none;
  color: #9b9b9b;
}
.nav-right a:hover {
  color: #fb4226;
}
.nav-right svg {
  margin-right: 5px;
  font-size: 18px;
}
.ulList {
  top: 100px !important;
  position: absolute !important;
}

/* Nav search content */
.nav-searchContent {
  position: absolute;
  top: 33px;
  left: 0;
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  background: #ffffff;
  overflow-y: scroll;
  display: none !important;
}
.nav-searchItem {
  display: flex;
  margin: 20px 10px;
}
.nav-searchItem__image img {
  width: 100%;
  height: 60px;
}
.nav-searchItem__info {
  margin: auto 10px;
}
.nav-searchItem__title {
  margin-bottom: 0;
}
.nav-search:focus-within .nav-searchContent {
  display: block !important;
}
.nav-searchContent:focus-within {
  display: block !important;
}
/* Responsive */
@media screen and (max-width: 1200px) {
  .navContainer a,
  .navContainer .nav-center a {
    font-size: 14px;
  }
}
@media screen and (max-width: 1092px) {
  .navContainer .nav-search {
    display: none;
  }
  .navContainer .nav-left img {
    width: 120px;
  }
}
@media screen and (max-width: 650px) {
  .navContainer .nav-center {
    display: none;
  }
}
