.cinemaSeats {
  margin-top: 60px;
}
.theatre {
  display: flex;
  position: absolute;
  /* top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 100px; */
  top: 25%;
  left: 7%;
}

.cinema-seats {
  display: flex;
}
.cinema-seats .seat {
  cursor: pointer;
}
.cinema-seats .seat:hover:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
.cinema-seats .seat.active:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
}

.left .cinema-row {
  transform: skew(-15deg);
  margin: 0 6px;
}
.left .seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #b54041,
    #f3686a
  );
  margin-bottom: 10px;
  transform: skew(20deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.left .row-2 {
  transform: skew(-13deg);
}
.left .row-2 .seat {
  transform: skew(18deg);
}
.left .row-3 {
  transform: skew(-12deg);
}
.left .row-3 .seat {
  transform: skew(16deg);
}
.left .row-4 {
  transform: skew(-11deg);
}
.left .row-4 .seat {
  transform: skew(15deg);
}
.left .row-5 {
  transform: skew(-10deg);
}
.left .row-5 .seat {
  transform: skew(12deg);
}
.left .row-6 {
  transform: skew(-9deg);
}
.left .row-6 .seat {
  transform: skew(10deg);
}
.left .row-7 {
  transform: skew(-7deg);
}
.left .row-7 .seat {
  transform: skew(8deg);
}
.left .row-8 {
  transform: skew(-6deg);
}
.left .row-8 .seat {
  transform: skew(6deg);
}

.right {
  margin-left: 100px;
}
.right .cinema-row {
  transform: skew(5deg);
  margin: 0 6px;
}
.right .seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #b54041,
    #f3686a
  );
  margin-bottom: 10px;
  transform: skew(-8deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.right .row-2 {
  transform: skew(7deg);
}
.right .row-2 .seat {
  transform: skew(-10deg);
}
.right .row-3 {
  transform: skew(9deg);
}
.right .row-3 .seat {
  transform: skew(-12deg);
}
.right .row-4 {
  transform: skew(10deg);
}
.right .row-4 .seat {
  transform: skew(-15deg);
}
.right .row-5 {
  transform: skew(11deg);
}
.right .row-5 .seat {
  transform: skew(-16deg);
}
.right .row-6 {
  transform: skew(12deg);
}
.right .row-6 .seat {
  transform: skew(-18deg);
}
.right .row-7 {
  transform: skew(13deg);
}
.right .row-7 .seat {
  transform: skew(-15deg);
}
.right .row-8 {
  transform: skew(14deg);
}
.right .row-8 .seat {
  transform: skew(-15deg);
}

/* custom */
.cinema-screen {
  position: absolute;
  top: 130%;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: gray;
  display: block;
  border-radius: 10px;
}
.cinema-screen p {
  text-align: center;
  padding-top: 6px;
  font-size: 26px;
  font-weight: 700;
}

/*  */
.cinemaSeats {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.cinemaSeats__right {
  border-left: 1px solid #bebebe;
  height: 100%;
}

.cinemaSeats .cinemaSeats-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  margin: 20px 80px;
  padding-bottom: 10px;
}
.cinemaSeats-header__cinema {
  display: flex;
}
.cinemaSeats .cinemaSeats-header p {
  margin-bottom: 0;
}
.cinemaSeats .cinemaSeats-header__image img {
  width: 50px;
  height: 50px;
}
.cinemaSeats .cinemaSeats-header__content {
  margin-left: 15px;
}
.cinemaSeats .cinemaSeats-header__name {
  font-size: 18px;
  font-weight: 500;
  color: #fb4226;
}
.cinemaSeats .cinemaSeats-header__info {
  font-size: 14px;
  color: #9b9b9b;
}
.cinemaSeats .cinemaSeats-header__time {
  text-align: right;
}
.cinemaSeats .cinemaSeats-header__timeTitle {
  font-size: 18px;
  color: #9b9b9b;
  font-weight: 500;
}

.cinemaSeats .cinemaSeats-header__timeCountdown {
  font-size: 22px;
  color: #58ae39;
  font-weight: 500;
}

/* CinemaSeat__right */
.cinemaSeats .ticketBooking {
  margin: 20px 40px;
}
.cinemaSeats .ticketBooking p {
  margin-bottom: 0;
}
.cinemaSeats .ticketBooking__filmInfo {
  font-weight: 500;
  margin-bottom: 20px;
}
.cinemaSeats .ticketBooking__filmInfo-name {
  font-size: 20px;
}
.cinemaSeats .ticketBooking__userInfo-bill {
  display: flex;
  justify-content: space-between;
}

.cinemaSeats .ticketBooking__userInfo-bill .bill-title {
  font-size: 20px;
  font-weight: 500;
  color: #fb4226;
}
.cinemaSeats .ticketBooking__userInfo-bill .bill-value {
  font-size: 22px;
  font-weight: 500;
  color: #58ae39;
}
.cinemaSeats .ticketBooking__pay-title {
  font-size: 20px;
  font-weight: 500;
}
.cinemaSeats .ticketBooking__alert {
  margin-top: 100px;
  text-align: center;
}
.cinemaSeats .ticketBooking__alert i {
  color: #fb4226;
}
.active1 {
  background: black !important;
}
.active2 {
  background: black !important;
}
