html,
body {
  height: 100%;
}
.signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

.signUpContainer-right {
  width: 25%;

  padding: 50px 50px;
  background-color: black;
  color: white !important;
  border-radius: 10px;
}
.formSign {
  padding: 20px 20px;
}
.formSign input {
  border: none;
  background: black;
  border-bottom: 1px solid white;
}
.formSign input:focus {
  box-shadow: none;
  background-color: black;
  color: white !important;
  border-color: violet;
}
